* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  text-decoration: none;
  list-style: none;
}
body {
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 1220px;
  margin: 0 auto;
}
.header {
  height: 80px;
  align-items: center;
  display: flex;
  top: 0;
  width: 1220px;
  padding: 0 40px;
  position: fixed;
}
.row {
  width: 100%;
  align-items: center;
  display: flex;
  height: 80px;
  padding: 0 40px;
}
.top-mid-nav {
  display: inline-block;
  margin-left: 20px;
  margin-top: 24px;
}
.top-mid-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 31px;
  list-style-type: none;
}
.top-mid-nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bolder;
  text-transform: uppercase;
  margin-left: 28px;
  transition: 0.1s color ease-in-out;
}
.top-mid-nav ul li {
  padding-bottom: 24px;
}
.top-mid-nav ul li:hover {
  box-shadow: inset 0 -4px 0 #00a82d;
}
.top-mid-nav ul li:focus {
  box-shadow: inset 0 -4px 0 #00a82d;
}
.top-mid-nav ul li a:hover {
  color: #00a82d;
  transition: 0.1s color ease-in-out;
}
.top-mid-nav ul li a :focus {
  color: #00a82d;
  transition: 0.1s color ease-in-out;
}
.top-mid-nav ul li:first-child {
  margin-left: 0;
}
.arrow {
  display: inline-block;
  border-top: 4px solid #000;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  margin-left: 5px;
  vertical-align: middle;
}
.top-left-nav {
  display: inline-block;
  margin-left: auto;
}
.top-left-nav ul {
  display: flex;
  font-size: 14px;
  line-height: 50px;
  cursor: pointer;
  /* margin-left: 400px; */
}
.top-left-nav ul li {
  margin-left: 10px;
}
.top-left-nav ul li a {
  color: #000000;
}
/* .top-left-nav ul li:last-child {
  color: #00a82d;
} */
.btn-top-right {
  display: inline-block;
  height: 40px;
  min-width: 120px;
  font-size: 14px;
  line-height: 37px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.5px;
  border-radius: 3px;
  border: 2px solid #00a82d;
  padding: 0 10px;
}

.main {
  height: 400px;
}
.section {
  padding-top: 51px;
}

/* Main */
.main {
  padding-top: 60px;
  width: 100%;
  height: 500px;
}
.content {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 60px;
  margin-top: 40px;
}
.h1 {
  font-size: 56px;
  line-height: 150%;
}
h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}
.p-btn {
  font-size: 13px;
  line-height: 21px;
  margin-top: 48px;
}
.mega-btn {
  font-size: 16px;
  font-weight: 700;
  padding: 16px 80px;
  background-color: #00a82d;
  color: #fff;
  letter-spacing: 1.5px;
  line-height: normal;
  border-radius: 3px;
  transition: 0.3s background ease-in-out;
}
.mega-btn:hover {
  background: #14cc45;
  transition: 0.1s background ease-in-out;
}
/* Article a koniec */
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}
.flexcard {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 6px 6px 20px rgb(26 26 26 / 10%);
  box-sizing: border-box;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(25% - 16px);
  min-height: 300px;
  padding: 30px 20px;
}
.header-image {
  margin-bottom: 24px;
}

.header-image img {
  height: 60px;
  width: 60px;
}
.heading {
  margin-bottom: 28px;
}
.heading h4 {
  font-size: 28px;
}
/* .description{

} */

.p-large {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 150%;
}
